<div class="ccbync">
    <p>
        Este trabajo es una traducción y adaptación de la obra original <a href="http://neuralnetworksanddeeplearning.com" class="color-link-footer">"Neural Networks and Deep Learning"</a> escrita por <a href="http://michaelnielsen.org/" class="color-link-footer">Michael A. Nielsen.</a>
        </br>
        Si estás utilizando esta obra derivada en trabajos académicos, por favor citar este libro como: Michael A. Nielsen, David Núñez, "Redes Neuronales y Aprendizaje Profundo", 2015.
        </br>
        Este trabajo, al igual que el trabajo original, está licenciado bajo <a href="http://creativecommons.org/licenses/by-nc/3.0/deed.es" class="color-link-footer">Creative Commons Attribution-NonCommercial 3.0 Unported Licence.</a> Esto significa que no puedes hacer uso comercial de esta obra sin consentimiento del autor, pero eres libre de copiar, compartir y construir sobre este libro dando crédito a esta obra de manera adecuada. Si estás interesado en hacer un uso comercial de la obra original, por favor contacta al autor <a href="mailto:mn@michaelnielsen.org" class="color-link-footer">Michael Nielsen</a>. Y si estás interesado en hacer un uso comercial de esta obra derivada, no es posible.
    </p>
    <a href="http://creativecommons.org/licenses/by-nc/3.0/deed.es" class="color-link-footer"><img src="http://i.creativecommons.org/l/by-nc/3.0/88x31.png"/></a>
</div>
