<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset = "UTF-8" />
        <title>Redes Neuronales y Aprendizaje Profundo</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta content="" name="Libro gratuito acerca de las Redes Neuronales y Aprendizaje Profundo" />
        <meta content="" name="David Núñez" />
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
        <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/side-menu-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
        <link href="public/assets/css/side-menu.css" rel="stylesheet">
        <!--<![endif]-->
        <link href='public/assets/css/style.css' rel='stylesheet' type='text/css'>
        <link href='public/assets/css/social.css' rel='stylesheet' type='text/css'>
        <link href='public/assets/css/404.css' rel='stylesheet' type='text/css'>
		<link href='public/assets/css/content.css' rel='stylesheet' type='text/css'>
        <link href='public/assets/css/mathfonts.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="layout">
            <aside>
                <include template="../partials/aside.marko"/>
            </aside>            
            <section class="section">
                <layout-placeholder name="content" />
            </section>
			<footer class="footer">
                <include template="../partials/footer.marko"/>
			</footer>
        </div>
        <script src="http://yui.yahooapis.com/3.17.2/build/yui/yui-min.js"></script>
        <script src="/public/assets/js/ui.js"></script>
    </body>
</html>
